.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}
header {
  grid-column: 3 / 7;
}
nav {
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
